/**
 * Imports
**/

@font-face {
    font-family: 'Montserrat';
    src: url(https://fonts.gstatic.com/s/montserrat/v12/rBHvpRWBkgyW99dXT88n7yEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
}

/**
 * Grid format - implementing the lovely new CSS Grids format!
**/

html{
    padding: 0;
}

body{
    background: #001228 url(/_assets/img/bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main-wrapper{
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 100%;
    grid-template-areas:
            "nav"
            "main"
            "aside"
            "footer";
    font-family: arial, sans-serif;
    max-width: 1100px;
    margin: auto;
}

.hidden-when-large{
    width: 100%;
}

header{
    grid-area: header;
    display: none;
}

@media (min-width: 920px) {
    .main-wrapper{
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 500px auto auto auto;
        grid-template-areas:
                "header header"
                "nav nav"
                "main aside"
                "footer footer";
    }

    .hidden-when-large{
        display: none;
    }

    header{
        display: inline;
    }
}


main{
    grid-area: main;
    padding-left: 20px;
    padding-right: 20px;
}

aside{
    grid-area: aside;
}

.left{
    grid-area: left;
}

.center{
    grid-area: center;
}

.right{
    grid-area: right;
}

/**
 * Header styling
**/

header{
    background: url(/_assets/img/header-sm.png) no-repeat;
    background-size: 100% 100%;
}

header p{
    display: none;
}

.underline{
    margin-top: -20px;
    width: 100px;
}

@media (min-width: 670px) {

    .underline{
        width: 354px;
    }

    header {
        background: url(/_assets/img/header-md.png) no-repeat;
        background-size: 100% 100%;
    }

    header p {
        display: inherit;
        background: #002d62;
        color: white;
        font-family: 'Montserrat', Roboto, sans-serif;
        font-size: 20px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 10px;
        padding-top: 10px;
        position: relative;
        text-align: center;
        width: 620px;
    }
}

@media (min-width: 1000px) {
    header {
        background: url(/_assets/img/header-lg.png) no-repeat;
        background-size: 100% 100%;
    }
}

/**
 * Navbar styling
**/

nav{
    background-color: #002d62;
    height: 97px;
    grid-area: nav;
    display: grid;
    grid-template-columns: 1fr 344px 1fr;
    grid-template-areas: "voidleft center voidright";
}

nav a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border-right: 1px solid white;
    padding: 5px 16px;
    display: inline-block;
    margin-left: -4px;
    margin-top: 13px;
}

nav a:first-child{
    margin-left: 26px;
}

nav .pre-break{
    border-right: none;
}

nav a:last-child{
    border-right: none;
}

@media (min-width: 720px) {
    nav a {
        margin-left: -4px;
    }
    nav{
        height: 55px;
        grid-template-columns: 1fr 630px 1fr;
    }
    .center br{
        display: none;
    }
    nav a:first-child {
        margin-left: 0;
        border-left: 1px solid white;
    }
    nav a:last-child{
        border-right: 1px solid white;
    }
    nav .pre-break{
        border-right: 1px solid white;
    }
}

@media (min-width: 920px) {
    nav a {
        padding: 16px;
        margin-top: 0;
    }
}

nav a:hover{
    background-color: #0047bb;
}



/**
 * Footer styling
**/

footer{
    grid-area: footer;
    background-color: #002d62;
    color: white;
    height: 66px;
}

#left {
    margin-top: 18px;
    padding-left: 20px;
    padding-right: 20px;
    grid-area: left;
    text-align: center;
}

#right{
    margin-top: 18px;
    text-align: center;
    grid-area: right;
    padding-bottom: 10px;
}

@media(min-width: 411px) {
    footer{
        height: 50px;
    }
    #left{
        text-align: left;
    }
    #right{
        text-align: right;
        padding-right: 20px;
        padding-bottom: 0;
    }
}

@media(min-width: 670px) {
    #right{
        margin-top: -17px;
    }
}


/**
 * Main Styling
**/

main{
    padding: 10px;
    background-color: white;
}

main p, main h1{
    text-align: center;
}

/**
 * Aside Styling
**/

aside{
    background-color: white;
    padding: 10px;
    border-left: 1px solid #ccc;
}

aside .aside-header{
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

aside a{
    text-decoration: none;
    color: #002969;
    text-align: center;
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
}

/**
 * Flags
**/

.flag-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 20px;
    margin-right: 20px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.flag-item{
    height: auto;
    width: 100%;
    border: 2px solid #002d62;
}

.hidden-when-small{
    display: none;
    border: none;
}

@media (min-width: 470px) {
    .flag-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .hidden-when-small{
        display: block;
        border: none;
    }
}

h2, h3{
    text-align: center;
}

.subtext{
    margin-top: -6px;
    color: #637992;
}